.button {
    color: #3882f6
}

.inform, .text, header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: light italic;
}

.hero, .footer{
    background-color: #1f2937;
}

.heromain {
    font-size: 36px;
    color: #f9faf8;
    font-weight: 900;
}

.herosecond, .links, .links:visited {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.header, .logo{
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937;
}

.heromain{
    display: flex;
    flex-direction: row;
}
.herosecond{
    display: flex;
    flex-direction: row;
}
